<p>Hello <%= @admin.full_name %>!</p>

<p>Your monthly invoice for <%= @store.name %> is ready for viewing, available here.  Remember, payments are due by the 15th!</p>

<p>Thanks!</p>
<p>Epic Sale</p>