<div class="field">
  <%= label_tag :total_cost, "Amount" %>
  <%= text_field_tag :total_cost %>
</div>

<div class="actions">
  <%= link_to "Process Refund", admin_refund_path(@store_slug, @order.id), :method => 'POST', :class => "btn btn-primary" %>
</div>